body {
    font-family: Arial, sans-serif;
    background-image: url('/static/image/big_swiper_5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position:  center;
    min-height: 100vh
}

button[type="submit"] {
     display: block;
      position: absolute;
       bottom: 20px;
       left: 40%;
    width: 243px;
    height: 56px;
    margin: 10px auto;
    background-image: url(../image/piccha.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    color: #1e2731;
    font-family: 'IMPACT';
    background-position: center;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
button[type="submit"]:hover {
    color: white;
