<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='image/favicon-32x32.png') }}" type="image/x-icon">
</head>
<body>

<form id="signup-form" action="{{ url_for('my_blueprint.rform') }}" method="post">
    <input type="text" name="username"
    placeholder="Имя пользователя">
    <input type="email" name="email" placeholder="Электронная почта">
    <input type="password" name="password" placeholder="Пароль">

<div id="signup-error" class="error-message"></div>
    <input type="submit" value="Зарегистрироваться">
    <a href="#" class="login-link" onclick="goToLogin(); return false;">Уже есть учетная запись?</a>
<script src="{{ url_for('static', filename='js/reg.js') }}"></script>
</form>

</body>
</html>