<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='image/favicon-32x32.png') }}" type="image/x-icon">
</head>
<body>
<script>
        function goToLogin() {
            window.location.href = '/login';
        }
    </script>
<form id="signup-form" action="{{ url_for('rform') }}" method="post">
    <input type="text" name="username"
    placeholder="Имя пользователя">
    <input type="text" name="email" placeholder="Электронная почта">
    <input type="text" name="password" placeholder="Пароль">

<div id="signup-error" class="error-message"></div>
    <input type="submit" value="Зарегистрироваться">
    <a href="#" class="login-link" onclick="goToLogin(); return false;">Уже есть учетная запись?</a>
      <script>
document.getElementById('signup-form').addEventListener('submit', function(e) {
    e.preventDefault();
    var formData = new FormData(this);

    fetch('{{ url_for('rform') }}', {
        method: 'POST',
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        if (data.error) {
            document.getElementById('signup-error').textContent = data.error;
        } else {
            window.location.href = '{{ url_for('lform') }}';
        }
    })
    .catch(error => console.error('Error:', error));
});
</script>
</form>

</body>
</html>